@import url("https://fonts.googleapis.com/css?family=Kelly Slab");
.HomePage {
  position: absolute;
  width: 1440px;
  height: 311px;
  background-image: url(../../public/Rectangle\ 103.png);
}
.h1 {
  position: relative;
  width: 117px;
  height: 111px;
  margin-top: 78px;
  margin-left: 632px;
  font-weight: 600;
  font-size: 75px;
  line-height: 111.15px;
  letter-spacing: 3%;
}
.p {
  position: relative;
  color: rgba(187, 187, 187, 1);
  width: 681px;
  height: 44px;
  margin-top: 19px;
  margin-left: 380px;
  font-family: Kelly Slab;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.82px;
  align-items: center;
  text-align: center;
}

@media (max-width: 393px) {
  .h1 {
    width: 95px;
    height: 59px;
    margin-top: 42px;
    margin-left: 500px;
    font-weight: 600;
    font-size: 40px;
  }
  .p {
    width: 361px;
    height: 40px;
    font: Kelly Slab;
    font-weight: 400px;
    line-height: 19.39px;
    align-items: center;
  }
}
