.footer {
  width: 1440px;
  height: 45px;
  margin-top: 53px;
  display: flex;
  flex-direction: row;
  color: #857878;
  background-color: #d9d9d9;
}
.footer p {
  /* width: 395px;
  height: 16px; */
  margin-top: 14px;
  margin-left: 147px;
  font: Lato;
  font-size: 14px;
  font-weight: 600px;
  line-height: 16.8px;
  letter-spacing: 3%;
}

.footer h4 {
  margin-top: 14px;
  margin-left: 509px;
  font: Lato;
  font-size: 14px;
  font-weight: 600px;
  line-height: 16.8px;
  letter-spacing: 3%;
}

.footer .privacy {
  margin-top: 14px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600px;
  line-height: 16.8px;
  letter-spacing: 3%;
}
