.menu1 {
  width: 1140px;
  min-height: 677px;
  margin-top: 86px;
  margin-left: 150px;
  border: 1px solid #ffffff;
}
.menu2 {
  width: 1140px;
  min-height: 416px;
  margin-top: 27px;
  margin-left: 150px;
  border: 1px solid #ffffff;
}
.menu3 {
  width: 1140px;
  min-height: 335px;
  margin-top: 27px;
  margin-left: 150px;
  border: 1px solid #ffffff;
}

.img1 {
  position: absolute;
  width: 267px;
  height: 22px;
  margin-left: -90px;
  margin-top: -100px;
}

.img2 {
  position: absolute;
  width: 263px;
  height: 208px;
  margin-top: -50px;
  margin-left: 930px;
}

.head1 {
  width: 160px;
  height: 74px;
  margin-top: 45px;
  margin-left: 490px;
}
.items {
  display: flex;
  flex-wrap: wrap;
}

.items h1 {
  width: 462px;
  height: 38px;
  font-family: Oswald;
  font-size: 26px;
  line-height: 38.53.px;
  letter-spacing: 3%;
  margin-top: 24px;
  margin-left: 85px;
}
.items p {
  width: 467px;
  height: 22px;
  margin-left: 85px;
  font-family: Kelly Slab;
}
