.mainMenu {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  height: 1917px;
  background-image: url(../../public/Rectangle\ 116.png);
}
.frame2 {
  display: flex;
  position: absolute;
  width: 299px;
  height: 1820px;
  margin-left: 1290px;
  margin-top: 90px;
}
