.order {
  width: 161px;
  height: 50px;
  margin-top: 50px;
  margin-left: 640px;
  background-color: #0796ef;
  border: 0.32px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 3%;
  line-height: 23.71px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 1145px;
  height: 87px;
  margin-top: 80px;
  margin-left: 145px;
  border: 1px;
  background-color: #c5a059;
}
.container p {
  width: 335px;
  height: 34px;
  margin-top: 18px;
  margin-left: 19px;
  font-family: Kelly Slab;
  font-weight: 400;
  font-style: 14px;
  line-height: 16.97pxS;
  color: #ffffff;
}
