.menu2 {
  width: 1140px;
  min-height: 416px;
  margin-top: 132px;
  margin-left: 150px;
  border: 1px solid #ffffff;
}

.img3 {
  position: absolute;
  width: 190px;
  height: 281px;
  margin-top: -155px;
  margin-left: -55px;
}
.img4 {
  position: absolute;
  width: 192px;
  height: 207px;
  margin-top: -100px;
  margin-left: 950px;
}
.head2 {
  width: 160px;
  height: 74px;
  margin-top: 45px;
  margin-left: 400px;
}
